input,
select {
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: WorkSans-Regular;
}

select::-ms-expand {
  display: none;
}

button {
  padding: 0px;
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

.btn {
  font-family: WorkSans-Regular;
  padding: 11px 23px 11px 24px;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #2f2f30;
  border: 1px solid #a9abae;
  background-color: #fff;
  cursor: pointer;
}

.btn-success {
  background-color: #2eb670;
  border-color: #2eb670;
  color: #fff;
}

@font-face {
  font-family: "WorkSans-Regular";
  font-display: swap;
  src: url("../fonts/WorkSans-Regular.woff") format("woff"),url("../fonts/WorkSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans-SemiBold";
  font-display: swap;
  src: url("../fonts/WorkSans-SemiBold.woff") format("woff"),url("../fonts/WorkSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SourceCodePro-Regular";
  font-display: swap;
  src: url("../fonts/SourceCodePro-Regular.woff") format("woff"),url("../fonts/SourceCodePro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: WorkSans-Regular;
  font-weight: 400;
  background-color: #e5e5e5;
  margin: 0px;
  padding: 0px;
}

.wrapper {
  padding-top: 53px;
  padding-left: 15px;
  padding-right: 15px;
}

.container {
  max-width: 1224px;
  margin: 0 auto;
  width: 100%;
}

.page-header {
  border-radius: 8px;
  border: 1px solid #dbdcde;
  -webkit-box-shadow: 1px 3px 3px rgba(62,63,64,.1);
  box-shadow: 1px 3px 3px rgba(62,63,64,.1);
  background-color: #fff;
  margin-bottom: 24px;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
  width: 100%;
  max-width: 100%;
}

.page-header__top {
  padding: 30px 32px;
}

.page-header__top h1 {
  font-weight: normal;
  font-size: 24px;
  color: #2f2f30;
  margin: 0px;
  margin-top: 3px;
  line-height: 1;
}

.page-header__bottom {
  padding: 15px 32px;
  background-color: #fafafa;
  border-top: 1px solid #dbdcde;
  border-radius: 0px 0px 8px 8px;
}

.form-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

.form-search__input {
  margin-right: 43px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 336px;
  flex: 0 0 336px;
  position: relative;
}

.form-search__input::before {
  content: "";
  left: 15px;
  top: 11px;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.25 14.25C11.5637 14.25 14.25 11.5637 14.25 8.25C14.25 4.93629 11.5637 2.25 8.25 2.25C4.93629 2.25 2.25 4.93629 2.25 8.25C2.25 11.5637 4.93629 14.25 8.25 14.25Z' stroke='%236C6D6F' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.7499 15.7499L12.4874 12.4874' stroke='%236C6D6F' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-position: center;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  position: absolute;
}

.form-search__field {
  padding: 7px 8px 8px 40px;
  border-radius: 8px;
  border: 1px solid #dbdcde;
  width: 100%;
  height: 40px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #6c6d6f;
}

.form-search__select {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 116px;
  flex: 0 0 116px;
}

.form-search__select select {
  font-family: WorkSans-Regular;
  border: 0px;
  background-color: transparent;
  width: 100%;
  height: 24px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #2f2f30;
  margin: 0px;
  margin-left: -4px;
  padding: 0px;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 9px 6px;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='6' viewBox='0 0 11 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 0.75L5.5 5.25L10 0.75' stroke='%236C6D6F' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.page-body__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.main-content {
  padding-right: 12px;
  padding-left: 12px;
  max-width: 936px;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
}

.main-content__top {
  background-color: #fff;
  border: 1px solid #dbdcde;
  -webkit-box-shadow: 1px 3px 3px rgba(62,63,64,.1);
  box-shadow: 1px 3px 3px rgba(62,63,64,.1);
  border-radius: 8px;
  margin-bottom: 24px;
}

.main-content__body {
  background-color: #fff;
  border: 1px solid #dbdcde;
  -webkit-box-shadow: 1px 3px 3px rgba(62,63,64,.1);
  box-shadow: 1px 3px 3px rgba(62,63,64,.1);
  border-radius: 8px;
  padding-top: 29px;
}

.dontaion-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 26px 32px 27px 32px;
}

.dontaion-info__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.dontaion-info__value-title {
  font-size: 14px;
  line-height: 1;
  color: #2f2f30;
  padding-left: 25px;
  position: relative;
  margin-bottom: 10px;
}

.dontaion-info__value-title:before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  left: -1px;
  top: -3px;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0.75V17.25' stroke='%23009FFD' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.75 3.75H7.125C6.42881 3.75 5.76113 4.02656 5.26884 4.51884C4.77656 5.01113 4.5 5.67881 4.5 6.375C4.5 7.07119 4.77656 7.73887 5.26884 8.23116C5.76113 8.72344 6.42881 9 7.125 9H10.875C11.5712 9 12.2389 9.27656 12.7312 9.76884C13.2234 10.2611 13.5 10.9288 13.5 11.625C13.5 12.3212 13.2234 12.9889 12.7312 13.4812C12.2389 13.9734 11.5712 14.25 10.875 14.25H4.5' stroke='%23009FFD' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}

.dontaion-info .currency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.dontaion-info .currency__main {
  font-size: 24px;
  line-height: 1;
  color: #00a651;
}

.dontaion-info .currency__conversion {
  font-size: 16px;
  line-height: 1;
  color: #6c6d6f;
  margin-left: 8px;
  margin-bottom: 1px;
}

.dontaion-info__id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.dontaion-info__id-title {
  font-family: SourceCodePro-Regular;
  font-size: 16px;
  line-height: 12px;
  color: #6c6d6f;
  margin-bottom: 10px;
}

.dontaion-info .id-copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.dontaion-info .id-copy__value {
  max-width: 77px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0;
  margin: 0px;
  color: #2f2f30;
  font-family: SourceCodePro-Regular;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  border: 0px;
  margin-right: 7px;
}

.dontaion-info .id-copy__btn {
  background-color: transparent;
  border: 0px;
  padding: 0;
  margin: 0px;
  cursor: pointer;
  text-indent: -9999px;
  width: 18px;
  height: 18px;
}

.dontaion-info .id-copy__btn::before {
  width: 18px;
  height: 18px;
  position: absolute;
  right: -1px;
  top: 1px;
  content: "";
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 6.75H8.25C7.42157 6.75 6.75 7.42157 6.75 8.25V15C6.75 15.8284 7.42157 16.5 8.25 16.5H15C15.8284 16.5 16.5 15.8284 16.5 15V8.25C16.5 7.42157 15.8284 6.75 15 6.75Z' stroke='%236C6D6F' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3.75 11.25H3C2.60218 11.25 2.22064 11.092 1.93934 10.8107C1.65804 10.5294 1.5 10.1478 1.5 9.75V3C1.5 2.60218 1.65804 2.22064 1.93934 1.93934C2.22064 1.65804 2.60218 1.5 3 1.5H9.75C10.1478 1.5 10.5294 1.65804 10.8107 1.93934C11.092 2.22064 11.25 2.60218 11.25 3V3.75' stroke='%236C6D6F' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E ");
  background-position: center;
}

.dontaion-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 14px 31px 14px 31px;
  background: #fafafa;
  border-top: 1px solid #dbdcde;
  border-radius: 0px 0px 8px 8px;
}

.dontaion-status__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 32px;
}

.dontaion-status__block:first-child {
  padding-left: 0px;
  padding-right: 34px;
}

.dontaion-status__block:first-child .dontaion-status__block-value {
  font-size: 16px;
  line-height: 24px;
  color: #00a651;
  padding-left: 26px;
  position: relative;
}

.dontaion-status__block:first-child .dontaion-status__block-value:before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9' cy='9' r='9' fill='%232EB670'/%3E%3Cpath d='M13.5 6.375L7.3125 12.5625L4.5 9.75' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}

.dontaion-status__block:last-child {
  padding-right: 0px;
}

.dontaion-status__block-title {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #6c6d6f;
  margin-bottom: 2px;
  margin-top: 3px;
}

.dontaion-status__block a.dontaion-status__block-value {
  font-size: 16px;
  line-height: 24px;
  text-decoration: underline;
  color: #6665dd;
}

.dontaion-status__block span.dontaion-status__block-value {
  font-size: 16px;
  line-height: 24px;
  color: #6c6d6f;
}

.content-tabs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 24px;
  border-bottom: 1px solid #dbdcde;
}

.content-tabs__list-tab {
  margin-bottom: -1px;
}

.content-tabs__list-tab a {
  padding: 15px 16px 12px 15px;
  border: 1px solid transparent;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: .03em;
  text-transform: uppercase;
  color: #2f2f30;
  border-bottom: 0px;
  display: block;
}

.content-tabs__list-tab.open a {
  background-color: #fff;
  border-color: #dbdcde;
  border-radius: 6px 6px 0px 0px;
  color: #00a651;
}

.content-tabs__contents {
  border-bottom: 1px solid #dbdcde;
}

.content-tabs__contents-block {
  display: none;
  padding: 40px 60px;
}

.content-tabs__contents-block.open {
  display: block;
}

.content-tabs__footer {
  padding: 22px 30px;
  background-color: #fffbec;
  border-radius: 0px 0px 8px 8px;
}

.content-tabs__footer .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.content-tabs__footer .buttons>button:not(:last-child) {
  margin-right: 16px;
}

.behavior-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 436px;
}

.behavior-item:not(:last-child) {
  margin-bottom: 24px;
}

.behavior-item.goal .behavior-item__value {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.behavior-item.goal label {
  position: absolute;
  left: 12px;
  top: 10px;
}

.behavior-item.default-currency {
  margin-bottom: 30px;
}

.behavior-item.default-amount {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.behavior-item__title {
  text-align: right;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #2f2f30;
  margin-right: 16px;
  min-width: 124px;
}

.behavior-item__value-select {
  padding: 7px 26px 7px 12px;
  border-radius: 6px;
  border: 1px solid #a9abae;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #2f2f30;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 14px 6px;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='6' viewBox='0 0 11 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 0.75L5.5 5.25L10 0.75' stroke='%236C6D6F' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.behavior-item__value-select.designation-select {
  width: 296px;
}

.behavior-item__value-select.goal-select {
  width: 80px;
}

.behavior-item__value-number {
  padding: 7px 12px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #2f2f30;
  padding-left: 21px;
}

.behavior-item__value-number.goal-number {
  border: 1px solid #a9abae;
  border-radius: 6px;
  margin-right: 22px;
  max-width: 158px;
  width: 100%;
}

.behavior-item__value-radio {
  position: relative;
}

.behavior-item__value-radio:not(:last-child) {
  margin-bottom: 16px;
}

.behavior-item__value-radio label {
  font-size: 16px;
  line-height: 24px;
  color: #2f2f30;
  position: relative;
  padding-left: 35px;
}

.behavior-item__value-radio label::before {
  content: "";
  left: -1px;
  top: -2px;
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  -webkit-box-shadow: inset 0px 0px 0px 1px #a9abae;
  box-shadow: inset 0px 0px 0px 1px #a9abae;
  background-color: #fff;
}

.behavior-item__value-radio label:after {
  content: "";
  left: 5px;
  top: 4px;
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: transparent;
}

.behavior-item__value-radio .custom-radio {
  position: absolute;
  width: 24px;
  height: 24px;
  opacity: 0;
  margin: 0;
  top: 0px;
  left: -1px;
}

.behavior-item__value-radio .custom-radio:focus {
  opacity: 1;
}

.behavior-item__value-radio .custom-radio:checked~label::before {
  -webkit-box-shadow: inset 0px 0px 0px 2px #2eb670;
  box-shadow: inset 0px 0px 0px 2px #2eb670;
}

.behavior-item__value-radio .custom-radio:checked~label::after {
  background-color: #2eb670;
}

.behavior-item__value-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.behavior-item__value-check label {
  white-space: nowrap;
  position: relative;
  padding-left: 35px;
  line-height: 1.5;
}

.behavior-item__value-check label:before {
  border: 2px solid #2eb670;
  border-radius: 4px;
  position: absolute;
  left: -1px;
  top: 0;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #fff;
}

.behavior-item__value-check label::after {
  width: 24px;
  height: 24px;
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  left: -1px;
  top: 0px;
  opacity: 0;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.6654 1L5.4987 10.1667L1.33203 6' stroke='%2300A651' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.behavior-item__value-checkbox {
  position: absolute;
  width: 22px;
  height: 22px;
  margin: 0;
  top: 1px;
  left: 0px;
  border-radius: 4px;
}

.behavior-item__value-checkbox:checked~label::after {
  opacity: 1;
}

.behavior-item__value.input-range-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.behavior-item__value-range {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 3px;
  padding: 0;
  width: 218px;
  border-radius: 8px;
  margin: 0px;
  cursor: pointer;
}

.behavior-item__value-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 50%;
  height: 19px;
  width: 19px;
  border-radius: 50%;
  background-color: #2eb670;
}

.behavior-item__value-range::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  -moz-border-radius: 50%;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background-color: #2eb670;
}

.behavior-item__value-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 50%;
  height: 19px;
  width: 19px;
  border-radius: 50%;
  background-color: #2eb670;
}

.behavior-item__value-range::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  -moz-border-radius: 50%;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background-color: #2eb670;
}

.behavior-item__value-range::-ms-track {
  height: 5px;
  background: transparent;
  border-color: transparent;
  border-width: 2px 0;
  color: transparent;
}

.behavior-item__value-range::-ms-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #2eb670;
}

.behavior-item__value-range::-ms-fill-lower {
  background: #2eb670;
  border-radius: 2px;
}

.behavior-item__value-range::-ms-fill-upper {
  background: #dbdcde;
  border-radius: 8px;
}

.behavior-item__value .score {
  max-width: 40px;
  width: 100%;
  border: 0px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #2f2f30;
  margin-left: 13px;
}

.behavior-item__value .score:focus {
  outline: none;
}

.sidebar {
  padding-left: 12px;
  padding-right: 12px;
  max-width: 264px;
  width: 100%;
  height: auto;
}

.sidebar__content {
  position: sticky;
  top: 24px;
}

.sidebar__content:not(:last-child) {
  margin-bottom: 24px;
}

.sidebar-nav {
  background-color: #fff;
  background: #fff;
  border: 1px solid #dbdcde;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 8px;
  -webkit-box-shadow: 1px 3px 3px rgba(62,63,64,.1);
  box-shadow: 1px 3px 3px rgba(62,63,64,.1);
}

.sidebar-nav li:not(:last-child) {
  border-bottom: 1px solid #dbdcde;
}

.sidebar-nav__item {
  position: relative;
}

.sidebar-nav__item:hover {
  background-color: #f3f3f3;
}

.sidebar-nav__item.active {
  background-color: #f3f3f3;
}

.sidebar-nav__item:last-child {
  border-radius: 0px 0px 8px 8px;
}

.sidebar-nav__item:first-child {
  border-radius: 8px 8px 0px 0px;
}

.sidebar-nav__item-icon {
  width: 18px;
  height: 18px;
  max-width: 18px;
  max-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 8px;
  position: absolute;
  left: 15px;
  top: 15px;
}

.sidebar-nav__item-link {
  padding: 11px 17px 11px 42px;
  display: block;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #2f2f30;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.section-empty {
  height: 100vh;
}

@media (min-width: 767px) {
  .dontaion-status__block:not(:last-child) {
    border-right: 1px solid #d7d8da;
  }
}

@media (max-width: 1024px) {
  .page-header__bottom {
    padding: 20px 20px;
  }

  .form-search__input {
    width: calc(100% - 160px);
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .form-search__select select {
    margin-left: 0px;
  }

  .page-body__content {
    margin: 0px;
  }

  .main-content {
    padding: 0px;
    max-width: 100%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: 100%;
  }

  .dontaion-info {
    padding: 20px 20px;
  }

  .dontaion-info .currency {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .dontaion-status {
    padding: 20px 20px;
  }

  .content-tabs__list {
    overflow-x: auto;
    overflow-y: hidden;
  }

  .content-tabs__list-tab a {
    white-space: nowrap;
  }

  .content-tabs__contents-block {
    padding: 20px 20px;
  }

  .behavior-item {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100%;
  }

  .behavior-item__title {
    text-align: left;
    margin-bottom: 10px;
  }

  .behavior-item__value-check label {
    white-space: normal;
  }

  .sidebar {
    max-width: 100%;
    width: 100%;
    padding: 0px;
  }

  .sidebar__content {
    position: relative;
    top: 0;
    margin-bottom: 24px;
  }
}

@media (max-width: 768px) {
  .sidebar {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

@media (max-width: 767px) {
  .form-search__input {
    margin-bottom: 15px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin-right: 0px;
  }

  .dontaion-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .dontaion-info__value {
    margin-bottom: 15px;
  }

  .dontaion-status__block {
    width: 100%;
    padding: 0px;
    margin-bottom: 15px;
  }

  .dontaion-status__block:first-child {
    padding: 0px;
  }

  .behavior-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .behavior-item__value-select.designation-select {
    width: 100%;
  }
}