input {
  -webkit-box-shadow: none;
  box-shadow: none;
}

@font-face {
  font-family: "WorkSans-Regular";
  font-display: swap;
  src: url("../fonts/WorkSans-Regular.woff") format("woff"),url("../fonts/WorkSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans-SemiBold";
  font-display: swap;
  src: url("../fonts/WorkSans-SemiBold.woff") format("woff"),url("../fonts/WorkSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SourceCodePro-Regular";
  font-display: swap;
  src: url("../fonts/SourceCodePro-Regular.woff") format("woff"),url("../fonts/SourceCodePro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: WorkSans-Regular;
  font-weight: 400;
  background-color: #e5e5e5;
  margin: 0px;
  padding: 0px;
}

.wrapper {
  padding-top: 53px;
}

.container {
  max-width: 1224px;
  margin: 0 auto;
  padding: 0 15px;
}

.page-header {
  border-radius: 8px;
  border: 1px solid #dbdcde;
  -webkit-box-shadow: 1px 3px 3px rgba(62,63,64,.1);
  box-shadow: 1px 3px 3px rgba(62,63,64,.1);
  background-color: #fff;
  margin-bottom: 24px;
}

.page-header__top {
  padding: 28px 32px;
}

.page-header__top h1 {
  font-weight: normal;
  font-size: 24px;
  color: #2f2f30;
  margin: 0px;
  margin-top: 3px;
  line-height: 1;
}

.page-header__bottom {
  padding: 16px 32px;
  background-color: #fafafa;
  border-top: 1px solid #dbdcde;
  border-radius: 0px 0px 8px 8px;
}

.form-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

.form-search__input {
  margin-right: 40px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 336px;
  flex: 0 0 336px;
  margin-top: 3px;
}

.form-search__field {
  padding: 8px 8px 8px 42px;
  border-radius: 8px;
  border: 1px solid #dbdcde;
  width: 100%;
  height: 40px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #6c6d6f;
}

.form-search__select {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 116px;
  flex: 0 0 116px;
}

.form-search__select select {
  font-family: WorkSans-Regular;
  border: 0px;
  background-color: transparent;
  width: 100%;
  height: 24px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #2f2f30;
  margin: 0px;
  margin-left: -3px;
  padding: 0px;
}

.page-body__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.main-content {
  padding-right: 12px;
  padding-left: 12px;
  max-width: 936px;
  width: 100%;
}

.main-content__top {
  background-color: #fff;
}

.main-content__body {
  background-color: #dbdcde;
}

.sidebar {
  padding-left: 12px;
  padding-right: 12px;
  max-width: 264px;
  width: 100%;
}

.sidebar__content {
  background-color: #fff;
}